@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.App {
  text-align: center;
  background-color: 20184A;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Space Mono", monospace;
}

.content {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  margin: 0 100px 0 20px;
  text-align: left;
}

.image {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

button {
  font-family: "Space Mono", monospace;
}

@keyframes bubble {
  0% {
    transform: translateY(-1vh);
  }
  50% {
    transform: translateY(1vh);
  }
  70% {
  }
  100% {
    transform: translateY(-1vh);
  }
}

@media (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  .content {
    /* justify-content: center; */
    margin: 0px;
    padding: 10px;
  }
  .content
  p {
    font-size: 18px;
    width: 100%;
  }

  .content h1 {
    font-size: 48px;
    width: 100%;
  }

  .image {
    width: 90%;
  }
}
